<style>

#cabecalho {
		border: 2px solid black;
		padding: 0px 0px 15px 10px;
		font-size: 22px;
		font-family: "Times New Roman";
}

#rodape {
		border: 2px solid black;
		padding: 0px 0px 15px 10px;

}

#nome {
		padding: 10px 15px 0px 0px;
		font-size: 16px;
}

#log-acesso{
		border: 2px solid black;
		padding: 73px;
		font-size: 20px;
		
}

.fonte{
		font-size: 17px;
}

#botaoPesquisa{
		width: 75px;
		height: 31px;
		margin-left:30px;
}

#botaoLanca{
		width: 100px;
		height: 41px;
		font-weight: bold;
}

.espaco{
		margin-left:20px;
}

#telanotas{

		border: 2px solid black;
		padding:70px;
		display: block;
		padding-left: 107px;
}


#notas {
		border-collapse: collapse;
		text-align:center;
		font-size:21px;
		
}

.celula_nome {
		width:500px;
		height:40px;
		border: solid black 2px;
}

.celula_notas{
		width:110px;
		border: solid black 2px;
}
		
body {
		background-image: url("logo.png");
		background-repeat: no-repeat;
		background-position: center;
		background-color: powderblue;
		
		
}

</style>
