body {
	background-color: powderblue;
	background-image: url("logo.png");
	background-repeat: no-repeat;
	background-position: center;
}

.Info_Label {
	font-family: arial;
	font-weight: bold;
	border: 1px double black;
	padding: 5px;
	background-color: lightgrey;
}

.Info {
	padding-left: 10px;
}

#Nome_Aluno {
	font-weight: bold;
	padding-left: 10px;
}

#Rodape {
		background-image: url("Imagens/Pinellas Blue Background.jpg");
		background-size: cover;
		border: 5px groove black;
		background-color: #64eae1;
		padding: 10px 0px 90px 10px;
		font-family: arial;
		font-size: 15px;
}


#Esquerda {
  padding: 20px;
  width: 25%;
  display: table-cell;
  margin: 25px;
  vertical-align: top;

}

#Direita {
  padding: 20px;
  width: 80%;
  display: table-cell;
  margin: 25px;
  vertical-align: top;

}


.clear {
  clear: both;
}

#Caixa_de_Botoes {
		border: 2px solid black;
		float:left;
		margin-top: 33px;
		padding-bottom: 453px;
		height: 48px;
		width: 355px;
}

.Botoes{
        font-size:20px;
        font-family:Times New Roman;
        font-weight:bold;
        color:black;
        border: 1px solid black;
        width:355px;
        height:65px;
		background-color: #0000002e;
		box-shadow: inset 0 1px 1px #fff, 0 2px 3px #666;
		cursor:pointer;
}

#Informaçoes_de_Usuario {
		border: 1.5px solid black;
		width: 80%;
		padding: 10px;
		font-weight:bold;
		margin-top: 33px;
		font-size: 22px;
}

#Tela_de_Informaçoes {
		border: 2px solid black;
		height: 315px;
		display: block;
		margin-top:45px;
		padding: 50px;
		font-size: 22px;

}

.Desenvolvedores {
	margin: 7px;
	font-style: italic;
}

.Barra_de_Navegacao {
    float: left;
    background-color: Aquamarine;
    overflow: hidden;
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 95%;
    border: 1px solid black;
    font-family: arial;
    margin-bottom: 15px;
    position: fixed;
}

.Barra_de_Navegacao #SHELL {
  font-weight: bold;
  font-size: 18px;
  background-color: black;
  border: 1px solid black;
  padding: 15px;
}

.Barra_de_Navegacao .Celula:hover {
    background-color: cyan;
    border: 1px solid black;
    color: black;
}

.Barra_de_Navegacao .Celula {
    background-color: Aquamarine;
    padding: 15px;
    color: black;
    text-decoration: none;
}
