body {
	background-color: powderblue;
	background-image: url("Imagens/Light Blue Background.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

#Rodape {
		background-image: url("Imagens/Pinellas Blue Background.jpg");
		background-size: cover;
		border: 5px groove black;
		background-color: #64eae1;
		padding: 10px 0px 90px 10px;
		font-family: arial;
		font-size: 15px;
    margin-top: 50px;
}

#Boletim {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  border-collapse: collapse;
  font-family: arial;
}

#Botao_Alterar_Notas {
  padding: 20px;
  background-color: #49ff65;
  border: 3px double black;
  border-radius: 5px;
  margin: auto;
	margin-left: 100px;
	margin-top: 40px;
	margin-bottom: 40px;
  width: 20%;
  text-decoration: none;
  font-family: arial;
  font-size: 25px;
}

#Botao_Alterar_Notas:link {
  color: black;
}

#Botao_Alterar_Notas:visited {
  color: black;
}

#Botao_Alterar_Notas:hover {
  border: 3px solid black;
  border-radius: 5px;
  background-color: #00ff27;
  font-weight: bold;
}


#Botao_Alterar_Notas:active {
  border: 3px solid black;
  border-radius: 5px;
  background-color: #00ff27;
  font-weight: bold;
}

#Turma {
	font-family: arial;
	font-size: 30px;
	padding-top: 8px;
	text-align: center;
}

#Disciplina {
	font-family: arial;
	padding: 15px;
	text-align: center;
}

.Nome_Coluna {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #00e582;
}

.Celulas {
  border: 1px solid black;
  padding: 8px;
	height: 20px;
  width: 200px;
	background-color: white;
}

.Barra_de_Navegacao {
    float: left;
    background-color: Aquamarine;
    overflow: hidden;
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 95%;
    border: 1px solid black;
    font-family: arial;
    margin-bottom: 15px;
    position: fixed;
}

.Barra_de_Navegacao #SHELL {
  font-weight: bold;
  font-size: 18px;
  background-color: black;
  border: 1px solid black;
  padding: 15px;
}

.Barra_de_Navegacao .Celula:hover {
    background-color: cyan;
    border: 1px solid black;
    color: black;
}

.Barra_de_Navegacao .Celula {
    background-color: Aquamarine;
    padding: 15px;
    color: black;
    text-decoration: none;
}
