body {
	background-color: powderblue;
	background-image: url("Imagens/Light Blue Background.jpg");
	background-repeat: no-repeat;
	background-position: center;
  font-family: arial;
}

.Cabecalho {
		border: 2px solid black;
		background-color: #9efff9;
		padding: 0px 0px 15px 10px;
		font-size: 22px;
		font-family: "Times New Roman";
}

#Nome_do_Software {
	padding: 15px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #11ffa8;
	border: 1px dashed black;
	border-radius: 30px;
	text-align: center;
	margin-top: -18px;
}

#Nome_do_Colegio {
	font-family: arial;
	background-image: url("Imagens/Blue Background.jpg");
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 50px;
	padding-left: 30px;
	border: 5px groove black;
	border-radius: 2px;
	margin-right: 10px;
}

#Rodape {
		background-image: url("Imagens/Pinellas Blue Background.jpg");
		background-size: cover;
		border: 5px groove black;
		background-color: #64eae1;
		padding: 10px 0px 90px 10px;
		font-family: arial;
		font-size: 15px;
}

#Div_Cadastro {
		border: 2px solid black;
		padding: 73px;
		font-size: 20px;
}

#Exibicao_de_Erro {
	border: 5px solid black;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 30px;
	padding-left: 30px;
	margin-top: 50px;
	margin-left: 250px;
	margin-right: 250px;
	margin-bottom: 10px;
	font-size: 20px;
	font-family: arial;
	text-align: center;
	background-image: url("Imagens/Red Background.jpg");
	background-size: contain;
	background-position: center;
}

#Exibicao_de_Erro:hover {
	opacity: 0.8;
}
