body {
	background-color: powderblue;
	background-image: url("Imagens/Light Blue Background.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

#Rodape {
		background-image: url("Imagens/Pinellas Blue Background.jpg");
		background-size: cover;
		border: 5px groove black;
		background-color: #64eae1;
		padding: 10px 0px 90px 10px;
		font-family: arial;
		font-size: 15px;
    margin-top: 50px;
}

#Disciplinas {
	border: 2px solid black;
	border-radius: 3px;
  padding: 30px;
	background-color: lime;
	font-size: 17px;
	padding-right: 250px;
  text-align: left;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  font-family: arial;
	float: left;
	border-collapse: collapse;
}

#Div_Cadastro_Disciplina {
	border: 4px double black;
	border-radius: 3px;
	margin-top: 30px;
	margin-bottom: 50px;
	padding: 30px;
	padding-right: 490px;
	background-color: lime;
	font-size: 17px;
	font-family: arial;
	float: right;
	text-align: left;
	height: 200px;
	width: 20px;
}

.Nome_Coluna {
  border: 2px solid black;
	text-align: center;
  padding: 5px;
}

.Celulas {
	border: 1px solid black;
  padding: 8px;
  width: 200px;
	background-color: pink;
}

#Campo_Disciplina {
	border: 2px solid black;
	background-color: lightgreen;
	border-radius: 50px;
	padding: 50px;
  margin: 50px;
  text-align: left;
}

#Nome_Disciplina {
	border: 1px solid black;
}

#Nome_Tabela {
	text-align: center;
	font-weight: bold;
	border: 2px solid black;
}

#Exclui_Disciplina {
	cursor: pointer;
	background-color: #ff5751;
	border: 2px solid black;
	width: 200px;
	font-weight: bold;
	text-align: center;
}

#Coluna_Remover {
	text-align: center;
}


.Barra_de_Navegacao {
    float: left;
    background-color: Aquamarine;
    overflow: hidden;
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 95%;
    border: 1px solid black;
    font-family: arial;
    margin-bottom: 15px;
    position: fixed;
}

.Barra_de_Navegacao #SHELL {
  font-weight: bold;
  font-size: 18px;
  background-color: black;
  border: 1px solid black;
  padding: 15px;
}

.Barra_de_Navegacao .Celula:hover {
    background-color: cyan;
    border: 1px solid black;
    color: black;
}

.Barra_de_Navegacao .Celula {
    background-color: Aquamarine;
    padding: 15px;
    color: black;
    text-decoration: none;
}
