body {
	background-color: powderblue;
	background-image: url("Imagens/Light Blue Background.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

#Rodape {
		background-image: url("Imagens/Pinellas Blue Background.jpg");
		background-size: cover;
		border: 5px groove black;
		background-color: #64eae1;
		padding: 10px 0px 90px 10px;
		font-family: arial;
		font-size: 15px;
    margin-top: 50px;
}

#Turmas {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 10px;
  border-collapse: collapse;
  font-family: arial;
}

.Nome_Coluna {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
	background-color: lightgreen;
}

.Celulas {
  border: 1px solid black;
  padding: 8px;
  width: 200px;
	background-color: white;
}

#Campo_Turmas {
  margin: 50px;
  text-align: center;
}

#Div_Cadastro {
	padding: 73px;
	font-size: 17px;
	font-family: arial;
	text-align: center;
	font-weight: bold;
	padding-top: 20px;
	width: 1095px;
	margin: auto;
	width: 800px;
}

#Campo_Cadastro {
	padding-top: 30px;
	padding-bottom: 10px;
	border: 1px solid black;
	border-radius: 3px;
}

#Botao_Cadastrar_Usuario {
	border: 3px double black;
	border-radius: 3px;
	padding: 10px;
	float: left;
	background-color: lightgreen;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

#Botao_Cadastrar {
	border: 1px solid black;
	border-radius: 3px;
	padding: 5px;
	width: 100px;
	font-weight: bold;
	font-family: arial;
	background-color: lightgreen;
}

#Botao_Cadastrar:hover {
	background-color: cyan;
}

#Botao_Cadastrar_Usuario:hover {
	border: 3px double black;
	border-radius: 3px;
	padding: 10px;
	float: left;
	background-color: cyan;
}

#Exclui_Turma {
	cursor: pointer;
	background-color: #ff5751;
	border: 2px solid black;
}



#Exibicao_de_Erro {
	border: 5px solid black;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 30px;
	padding-left: 30px;
	margin-top: 50px;
	margin-left: 250px;
	margin-right: 250px;
	margin-bottom: 10px;
	font-size: 20px;
	font-family: arial;
	text-align: center;
	background-image: url("Imagens/Red Background.jpg");
	background-size: contain;
	background-position: center;
}

#Exibicao_de_Erro:hover {
	opacity: 0.8;
}

.Barra_de_Navegacao {
    float: left;
    background-color: Aquamarine;
    overflow: hidden;
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 95%;
    border: 1px solid black;
    font-family: arial;
    margin-bottom: 15px;
    position: fixed;
}

.Barra_de_Navegacao #SHELL {
  font-weight: bold;
  font-size: 18px;
  background-color: black;
  border: 1px solid black;
  padding: 15px;
}

.Barra_de_Navegacao .Celula:hover {
    background-color: cyan;
    border: 1px solid black;
    color: black;
}

.Barra_de_Navegacao .Celula {
    background-color: Aquamarine;
    padding: 15px;
    color: black;
    text-decoration: none;
}
