body {
	background-color: powderblue;
	background-image: url("Imagens/Light Blue Background.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.Cabecalho {
		border: 2px solid black;
		background-color: #9efff9;
		padding: 0px 0px 15px 10px;
		font-size: 22px;
		font-family: "Times New Roman";
}

#Nome_do_Software {
	padding: 15px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #11ffa8;
	border: 1px dashed black;
	border-radius: 30px;
	text-align: center;
	margin-top: -18px;
}

#Nome_do_Colegio {
	font-family: arial;
	background-image: url("Imagens/Blue Background.jpg");
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 50px;
	padding-left: 30px;
	border: 5px groove black;
	border-radius: 2px;
	margin-right: 10px;
}

#Rodape {
		background-image: url("Imagens/Pinellas Blue Background.jpg");
		background-size: cover;
		border: 5px groove black;
		background-color: #64eae1;
		padding: 10px 0px 90px 10px;
		font-family: arial;
		font-size: 15px;
    margin-top: 50px;
}

#Turmas {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 10px;
  border-collapse: collapse;
  font-family: arial;
}

.Nome_Coluna {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
	background-color: lightgreen;
}

.Celulas {
  border: 1px solid black;
  padding: 8px;
  width: 200px;
	background-color: white;
}

#Botao_Cadastrar_Turma {
  padding: 20px;
  background-color: #49ff65;
  border: 3px double black;
  border-radius: 5px;
  margin: 50px;
  text-decoration: none;
  font-family: arial;
}

#Botao_Cadastrar_Turma:link {
  color: black;
}

#Botao_Cadastrar_Turma:visited {
  color: black;
}

#Botao_Cadastrar_Turma:hover {
  border: 3px solid black;
  border-radius: 5px;
  background-color: #00ff27;
  font-weight: bold;
}


#Botao_Cadastrar_Turma:active {
  border: 3px solid black;
  border-radius: 5px;
  background-color: #00ff27;
  font-weight: bold;
}

#Campo_Turmas {
  margin: 50px;
  text-align: center;
}

#Div_Cadastro {
	padding: 73px;
	font-size: 17px;
	font-family: arial;
	text-align: center;
	font-weight: bold;
	padding-top: 20px;
	width: 1095px;
	margin: auto;
}

#Campo_Cadastro {
	padding-top: 30px;
}

#Botao_Cadastrar_Usuario {
	border: 3px double black;
	border-radius: 3px;
	padding: 10px;
	margin: 20px;
	float: left;
	background-color: lightgreen;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

#Botao_Cadastrar_Usuario:hover {
	border: 3px double black;
	border-radius: 3px;
	padding: 10px;
	margin: 20px;
	float: left;
	background-color: cyan;
}

#Exclui_Turma {
	cursor: pointer;
	background-color: #ff5751;
	border: 2px solid black;
}



#Exibicao_de_Erro {
	border: 5px solid black;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 30px;
	padding-left: 30px;
	margin-top: 50px;
	margin-left: 250px;
	margin-right: 250px;
	margin-bottom: 10px;
	font-size: 20px;
	font-family: arial;
	text-align: center;
	background-image: url("Imagens/Red Background.jpg");
	background-size: contain;
	background-position: center;
}

#Exibicao_de_Erro:hover {
	opacity: 0.8;
}
