html {
  font-family: arial;
}

.Barra_de_Navegacao {
  background-color: Aquamarine;
  overflow: hidden;
}

.Barra_de_Navegacao a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.Barra_de_Navegacao #SHELL {
  font-weight: bold;
  background-color: black;
}

.Barra_de_Navegacao .Celula:hover {
    background-color: #ddd;
    color: black;
}

#Rodape {
position: absolute;
bottom: 0;

}

#Cabecalho {
background-color: DeepSkyBlue;
max-width: 35%;
margin-left: auto;
margin-right: auto;

}

#Direita {
background-color: #3c00ff99;
max-width: 15%;
font-size: 15px;
line-height: 1.5;

}
