<style>

.cabecalho {
		border: 2px solid black;
		padding: 0px 0px 15px 10px;
		font-size: 13px;
		font-family: "Times New Roman";
}

.rodape {
		border: 2px solid black;
		padding: 0px 0px 15px 10px;

}

#nome {
		padding: 10px 15px 0px 0px;
		font-size: 13px;
}

.nomeCanto {
		text-align: right;
}

#nomeMenor{
		font-size: 14px;
}

#log-acesso{
		border: 2px solid black;
		padding: 73px;
		font-size: 20px;
}

body {
		background-image: url("logo-cp2.gif");
		background-repeat: no-repeat;
		background-position: center;
		background-color: powderblue;


}

</style>
