#cabecalho {
		border: 2px solid black;
		padding: 0px 0px 15px 10px;
		font-size: 22px;
		font-family: "Times New Roman";
}

#rodape {
		border: 2px solid black;
		padding: 0px 0px 15px 10px;

}

#nome {
		padding: 10px 15px 0px 0px;
		font-size: 16px;
}

.nomesCanto {
		text-align: left;
		font-family: arial;
}

#nomeMenor{
		font-size: 14px;
}

#log-acesso{
		border: 2px solid black;
		padding: 98px;
		font-size: 20px;
		text-align:center;
}

body {
		background-image: url("logo.png");
		background-repeat: no-repeat;
		background-position: center;
		background-color: powderblue;


}

#Formulario {
	background-color: #00c9ed;
	text-align: center;
	margin-left: 350px;
	margin-right: 350px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-top: 20px;
	border: 2px solid black;
	border-radius: 15px;
}

#H1_Login {
	font-family: arial;
	padding-bottom: 30px;
}

.txt {
	border: 3px groove black;
	border-radius: 4px;
	width: 200px;
}

.Btn {
	border: 3px double black;
	border-radius: 2px;
	padding: 3px;
	padding-left: 7px;
	padding-right: 7px;
	margin-left: 5px;
	margin-right: 5px;
}

#manterLogado {
	padding: 13px;
	font-family: arial;
}
