<style>

.cabecalho {
		border: 2px solid black;
		background-color: #9efff9;
		padding: 0px 0px 15px 10px;
		font-size: 22px;
		font-family: "Times New Roman";
}

#rodape {
		background-image: url("Imagens/Pinellas Blue Background.jpg");
		background-size: cover;
		border: 5px groove black;
		background-color: #64eae1;
		padding: 10px 0px 90px 10px;
		font-family: arial;
		font-size: 15px;
}

.Desenvolvedores {
	margin: 7px;
	font-style: italic;
}

#nome {
		padding: 10px 15px 0px 0px;
		font-size: 16px;
		font-family: arial;
}

#nomeSoftware {
	padding: 15px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #11ffa8;
	border: 1px dashed black;
	border-radius: 30px;
	text-align: center;
	margin-top: -18px;
}

#nomeColegio {
	font-family: arial;
	background-image: url("Imagens/Blue Background.jpg");
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 50px;
	padding-left: 30px;
	border: 5px groove black;
	border-radius: 2px;
	margin-right: 10px;
}

.nomesCanto {
		text-align: right;
		font-family: arial;
}

#nomeMenor {
		font-size: 14px;
		font-family: arial;
}

#log-acesso {
		border: 5px ridge black;
		border-radius: 30px;
		padding: 50px;
		font-size: 20px;
		margin: 56px;
		text-align: center;
		font-family: arial;
}

#log-acesso-form {
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	margin-left: 250px;
	margin-right: 250px;
	border: 5px double black;
	border-radius: 10px;
	background-color: lightblue;
}

#Entrar {
	background-color: lightblue;
	font-family: "Courier New";
	font-weight: bold;
	font-variant: small-caps;
	font-size: 50px;
	text-align: center;
	margin-left: 350px;
	margin-right: 350px;
	padding-bottom: 30px;
	padding-top: 20px;
	border: 5px double black;
	border-radius: 5px;
}


body {
		background-image: url("Imagens/Light Blue Background.png");
		background-repeat: no-repeat;
		background-position: center;
		background-color: powderblue;
}

#Login {
	border: 2px groove black;
	border-radius: 3px;
	width: 170px;
	margin-top: 5px;
	padding-bottom: 3px;
}

#Senha {
	border: 2px groove black;
	border-radius: 3px;
	width: 170px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-bottom: 3px;
}

.Botoes {
	border: 1px solid black;
	border-radius: 3px;
	padding: 3px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 20px;
}

.Botoes:hover {
	background-color: #87ffd1;
}

#Logar {
	border: 4px double black;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 10px;
	font-size: 22px;
}

#Exibicao_de_Erro {
	border: 5px solid black;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 30px;
	padding-left: 30px;
	margin-top: 50px;
	margin-left: 250px;
	margin-right: 250px;
	margin-bottom: 10px;
	font-size: 20px;
	font-family: arial;
	text-align: center;
	background-image: url("Imagens/Red Background.jpg");
	background-size: contain;
	background-position: center;
}

#Exibicao_de_Erro:hover {
	opacity: 0.8;
}



</style>
