body {
	background-color: powderblue;
	background-image: url("logo.png");
	background-repeat: no-repeat;
	background-position: center;
}


#Esquerda {
  padding: 20px;
  width: 25%;
  display: table-cell;
  margin: 25px;
  vertical-align: top;

}

#Direita {
  padding: 20px;
  width: 80%;
  display: table-cell;
  margin: 25px;
  vertical-align: top;

}


.clear {
  clear: both;
}

#Caixa_de_Botoes {
		border: 2px solid black;
		float:left;
		margin-top: 33px;
		padding-bottom: 453px;
		height: 48px;
		width: 355px;
}

.Botoes{
        font-size:20px;
        font-family:Times New Roman;
        font-weight:bold;
        color:black;
        border: 1px solid black;
        width:355px;
        height:65px;
		background-color: #0000002e;
		box-shadow: inset 0 1px 1px #fff, 0 2px 3px #666;
		cursor:pointer;
}

#Informaçoes_de_Usuario {
		border: 1.5px solid black;
		width: 80%;
		padding: 10px;
		font-weight:bold;
		margin-top: 33px;
		font-size: 22px;
}

#Tela_de_Informaçoes {
		border: 2px solid black;
		height: 315px;
		display: block;
		margin-top:45px;
		padding: 50px;
		font-size: 22px;


}

#Cabecalho {
		border: 2px solid black;
		padding: 0px 0px 15px 10px;
		font-size: 22px;
		font-family: "Times New Roman";
}

#Nome_do_Software {
		padding: 10px 15px 0px 0px;
		font-size: 16px;
}

#Rodape{
		border: 2px solid black;
		padding: 0px 0px 15px 10px;
}

.group:before, .group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
     zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

#Informações_Completas {
		border: 2px solid black;
		padding: 15px;
		padding-bottom: 0px;
		width: 80%;
		margin-top: 30px;
}

#Imagem {
		border: 1.5px solid black;
		float:left;
		padding: 65px;
		margin-top: 10px;

}

#Direita_1 {
  width: 65%;
  display: table-cell;
  margin: 25px;
  vertical-align: top;
}
